.u-align-center{
    text-align: center;

}
.u-align-right{
    text-align: right;
}

.u-sml-margin-bottom{
    margin-bottom: 1.5rem;
}

.u-med-margin-bottom{
    margin-bottom: 2.5rem;
}
.u-big-margin-bottom{
    margin-bottom: 8rem;
}